@font-face {
    font-family: "LiberationSans";
    src: url("/fonts/LiberationSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "LiberationSans";
    src: url("/fonts/LiberationSans-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "LiberationSans";
    src: url("/fonts/LiberationSans-Bold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "LiberationSans";
    src: url("/fonts/LiberationSans-BoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "LiberationSerif";
    src: url("/fonts/LiberationSerif-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "LiberationSerif";
    src: url("/fonts/LiberationSerif-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "LiberationSerif";
    src: url("/fonts/LiberationSerif-Bold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "LiberationSerif";
    src: url("/fonts/LiberationSerif-BoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "LiberationMono";
    src: url("/fonts/LiberationMono-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "LiberationMono";
    src: url("/fonts/LiberationMono-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "LiberationMono";
    src: url("/fonts/LiberationMono-Bold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "LiberationMono";
    src: url("/fonts/LiberationMono-BoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}
