#comments {
    margin-bottom: 0;
}

.comment-container {
    display: flex;
    flex-direction: column;
}

.comment-container>* {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
}

.comment-container>:first-child {
    margin-top: 0;
}

.comment-container>:last-child {
    margin-bottom: 0;
}

.comment-author-container>* {
    vertical-align: middle;
}

.comment-author-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

@media(max-width: 80rem) {
    .comment-author-container {
        flex-direction: column;
        align-items: start;
    }
}

.comment-stats>* {
    vertical-align: middle;
}

.comment {
    padding: 0.5rem;
}

.comment .comment {
    padding-left: 1rem;
    border-left: 2px solid var(--surface1);
}

.comment-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 0.5rem;
}

.comment-stats {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.comment-stats>* {
    vertical-align: middle;
}

.comment-stats svg+span {
    padding-left: 0.5rem;
    padding-right: 1rem;
}
