<page-footer>
    <footer>
        <span class='footer-text'>
            Built with <a href='https://github.com/sockeye-d/coho'>coho</a> from <span class='tooltipped'
                title='<?kt longGitHash ?>'>
                <?kt gitHash ?>
            </span> using the <a href="https://catppuccin.com/">Catppuccin color palettes</a>
        </span>
        <div class="socials">
            <a href="mailto:me@fishies.dev">
                <svg class="icon-medium">
                    <use href="/tabler.svg#tabler-mail" />
                </svg>
            </a>
            <a href="/rss.xml">
                <svg class="icon-medium">
                    <use href="/tabler.svg#tabler-rss" />
                </svg>
            </a>
            <a href="https://github.com/sockeye-d">
                <svg class="icon-medium">
                    <use href="/tabler.svg#tabler-brand-github" />
                </svg>
            </a>
            <a href="https://bsky.app/profile/fishies.dev">
                <svg class="icon-medium">
                    <use href="/tabler.svg#tabler-brand-bluesky" />
                </svg>
            </a>
            </a>
        </div>
    </footer>
</page-footer>
