<footer>
    <span class='footer-text'>
        Built with <a href='https://github.com/sockeye-d/coho'>coho</a> from <span class='tooltipped'
            title='<?kt longGitHash ?>'>
            <?kt gitHash ?>
        </span>
    </span>
    <div class="socials">
        <a href="https://github.com/sockeye-d">
            <svg class="icon-small">
                <use href="/tabler.svg#tabler-brand-github" />
            </svg>
        </a>
        <a href="https://bsky.app/profile/fishies.dev">
            <svg class="icon-small">
                <use href="/tabler.svg#tabler-brand-bluesky" />
            </svg>
        </a>
    </div>
</footer>
